.popup {
  max-width: 35rem;
  margin: 0.75rem;
  border-radius: 4px;
  padding: 1rem 2rem;
  box-shadow: var(--shadow-1);
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  &-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px) brightness(1.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  &-content {
    &__text {
      font-size: 1.5rem;
      color: var(--popup-font-color);
      word-spacing: 0.25rem;
    }
  }

  &-actions {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;

    &__btn {
      text-align: center;
      padding: 0.75rem 1rem;
      background-color: var(--color-grey-1);
      color: var(--popup-font-color);
      border: none;
      border-radius: 4px;

      transition: all 0.4s ease-in;

      &:hover {
        color: #000;
        cursor: pointer;
      }
    }
  }
}

.real-time {
  height: 100%;
  margin: 4rem 4rem;
  display: flex;
  font-family: "Lato", sans-serif;
  color: var(--font-color);
  border-radius: 4px;
  background: linear-gradient(
    270deg,
    var(--color-accent) 20%,
    var(--color-primary) 65%,
    var(--color-secondary) 100%
  );
  box-shadow: var(--shadow-1);
  overflow:  hidden auto;

  @media(max-width: 1024px) {
    flex-direction: column;
  }
  @media(max-width: 767px){
    margin: 2rem;
  }

  @media (max-width: 600px) {
    margin: 0;
  }
 

  &__main {
    flex: 4;
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
  }

  &__location {
    float: left;
    text-align: justify;
    font-family: 'Malonet';
    font-size: 1.6rem;
  }

  &__condition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 2px;

    &--img {
      width: 20rem;
      margin-top: 4rem;
    }
  }

  &__cards {
    flex: 1;
    float: right;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 4rem;

    @media(max-width: 1024px){
      justify-content: space-around;
    }

    @media(max-width: 767px) {
      flex-direction: column;
      justify-content: center;
    }
  }
  &__card {
    width: 18rem;
    height: 18rem;
    text-align: justify;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 2rem;
    border-radius: 4px;
    box-shadow: var(--shadow-1);

    @media (max-width:  767px) {
      width: 100%;      
    }

    & .title {
      text-transform: uppercase;
      font-weight:900;
      letter-spacing: 0.125rem;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.4) 35%,
        rgba(255, 255, 255, 0.81) 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      margin-bottom: 0;
    }

    & p {
      &:not(.title) {
        margin: auto;
        text-align: center;
      }
      &:not(:last-child) {
        margin-bottom: 0.75rem;
      }
    }
  }
}
