.popup {
  max-width: 35rem;
  margin: 0.75rem;
  border-radius: 4px;
  padding: 1rem 2rem;
  box-shadow: var(--shadow-1);
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  &-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px) brightness(1.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  &-content {
    &__text {
      font-size: 1.5rem;
      color: var(--popup-font-color);
      word-spacing: 0.25rem;
    }
  }

  &-actions {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;

    &__btn {
      text-align: center;
      padding: 0.75rem 1rem;
      background-color: var(--color-grey-1);
      color: var(--popup-font-color);
      border: none;
      border-radius: 4px;

      transition: all 0.4s ease-in;

      &:hover {
        color: #000;
        cursor: pointer;
      }
    }
  }
}

.real-time {
  height: 100vh;
  display: flex;
  font-family: "Lato", sans-serif;
  color: var(--font-color);
  background: linear-gradient(
    270deg,
    var(--color-accent) 20%,
    var(--color-primary) 65%,
    var(--color-secondary) 100%
  );
  box-shadow: var(--shadow-1);
  overflow: hidden auto;

  @media (max-width: 1024px) {
    flex-direction: column;
  }

  &__main {
    flex: 4;
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;

    @media (max-width: 767px) {
      padding: 1rem 2rem;
    }
  }

  &__location {
    float: left;
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-family: "Malonet";
    font-size: 1.6rem;
    margin-bottom: 2rem;

    @media (max-width: 767px) {
      flex-direction: row;
      justify-content: center;
      column-gap: 0.4rem;
    }
  }
  &__date {
    align-self: center;
    font-family: "Queensides";
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &__condition {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 2px;

    &-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 2rem;

      @media (max-width: 481px) {
        flex-direction: column;        
      }
    }

    &-item {
      display: flex;
      justify-content: center;
      position: relative;

      @media (max-width: 767px) {
        flex-basis: 50%;
        justify-content: flex-start;
        padding: 1rem 0;
      }

      @media (max-width: 481px) {
        flex-basis: 0;        
      }

      & .icon {
        fill: #fff;
        width: 4rem;
        height: 4rem;
        margin-right: .5rem;
      }

      & .info {
        display: flex;
        flex-direction: column;
        text-align: justify;
        margin-right: 2rem;

        @media (max-width: 767px) {
          margin: 0;
        }
      }

      & .text {
        font-size: 1.2rem;
        font-weight: 300;
      }

      & .value {
        font-size: 1.6rem;
        font-weight: 600;
      }

      &:not(:last-child) {
        margin-right: 2rem;

        @media (max-width: 767px) {
          margin: 0;
        }

        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 1px;
          height: 85%;
          background-color: #dbdbdb;

          @media (max-width: 767px) {
            display: none;
          }
        }
      }
    }

    &--img {
      width: 10rem;
    }
  }
}
