@font-face {
    font-family: 'Malonet';
    src: url('../fonts/Malonet.otf') format('truetype');
    font-family: 'Queensides';
    src: url('../fonts/Queensides.ttf') format('truetype');
    font-family: 'QueensidesLight';
    src: url('../fonts/QueensidesLight.ttf') format('truetype');
    font-family: 'QueensidesMedium';
    src: url('../fonts/QueensidesMedium.ttf') format('truetype');
}